<span page-title>{{ 'New Docker Image Build Config' | translate }}</span>

<div class="loading-mask loading-mask-panel fa-3x" ng-show="panel.loading">
    <i class="fa fa-spinner fa-spin"></i>
    {{ "Loading..." | translate }}
</div>

<section class="nutupane-details" ng-cloak bst-container-scroll>
    <header class="new-header details-header">
        <h2 class="pull-left" translate>New Docker Image Build Config</h2>

        <div class="details-actions pull-right">
            <button class="btn btn-default" ui-sref="docker-image-build-configs.index">
                <i class="fa fa-remove"></i>
                {{ "Close" | translate }}
            </button>
        </div>
    </header>

    <form name="dockerImageBuildConfigForm" class="form-horizontal" novalidate role="form">

        <div bst-form-group label="{{ 'Git URL' | translate }}">
            <input id="git_url"
                   name="git_url"
                   ng-model="dockerImageBuildConfig.git_url"
                   type="text"
                   tabindex="1"
                   autofocus
                   required/>
        </div>

        <div bst-form-group label="{{ 'Git commit' | translate }}">
            <input id="git_commit"
                   name="git_commit"
                   ng-model="dockerImageBuildConfig.git_commit"
                   type="text"
                   tabindex="1"
                   autofocus
                    />
        </div>

        <div bst-form-group label="{{ 'Activation key prefix' | translate }}">
            <input id="activation_key_prefix"
                   name="activation_key_prefix"
                   ng-model="dockerImageBuildConfig.activation_key_prefix"
                   placeholder="dockerro"
                   type="text"
                   tabindex="1"
                   autofocus
                    />
        </div>


  <span bst-feature-flag="lifecycle_environments">
    <div class="form-group">
        <label class="control-label col-sm-2" translate>Base Image Environment</label>

        <div class="col-sm-5 input">
        <span path-selector="baseImageSelector.environments"
              ng-model="baseImageSelector.environment"
              mode="singleSelect">
        </span>
        </div>
    </div>

  </span>

        <div bst-form-group label="{{ 'Base Image' | translate }}">
            <select ng-hide="baseImages.length === 0 || baseImageSelector.environment === undefined"
                    id="base_image_id"
                    name="base_image_id"
                    ng-model="dockerImageBuildConfig.base_image_id"
                    ng-options="baseImage.id as baseImage.full_name for baseImage in baseImages"
                    tabindex="4"
                    autofocus
                    single>
            </select>
            <span class="help-block" ng-show="baseImageSelector.environment === undefined" translate>
                Please select an Environment.
            </span>
            <i class="fa fa-spinner fa-spin" ng-hide="baseImageSelector.baseImagesLoaded"></i>
            <span class="help-block"
                  ng-show="baseImages.length === 0 && baseImageSelector.environment !== undefined && baseImageSelector.baseImagesLoaded"
                  translate>
                You have no Docker Images in Pulp repositories in this Environment.
            </span>
        </div>

        <div bst-form-group label="{{ 'Content View' | translate }}">
            <select ng-hide="contentViews.length === 0"
                    id="content_view_id"
                    name="content_view_id"
                    ng-model="dockerImageBuildConfig.content_view_id"
                    ng-options="contentView.id as contentView.name for contentView in contentViews"
                    tabindex="4"
                    autofocus
                    required>
            </select>
            <span class="help-block"
                  ng-show="cvloaded && contentViews.length === 0"
                  translate>
              The selected environment contains no Content Views, please select a different environment.
            </span>
            <i class="fa fa-spinner fa-spin" ng-hide="cvloaded"></i>
        </div>

        <div bst-form-group label="{{ 'Target Pulp Repository' | translate }}">
            <select ng-hide="pulpRepositories.length === 0"
                    id="repository_id"
                    name="repository_id"
                    ng-model="dockerImageBuildConfig.repository_id"
                    ng-options="pulpRepository.id as pulpRepository.name for pulpRepository in pulpRepositories"
                    tabindex="4"
                    autofocus
                    required>
            </select>
        <span class="help-block" ng-show="pulpRepositories.length === 0" translate>
            You have no defined Pulp repositories.
        </span>
        </div>

        <div bst-form-group label="{{ 'Automatic builds on publish' | translate}}">
            <input type="checkbox"
                   id="automatic"
                   name="automatic"
                   ng-model="dockerImageBuildConfig.automatic"
                   autofocus/>
        </div>

        <div bst-form-buttons
             on-cancel="transitionTo('docker-image-build-configs.index')"
             on-save="save(dockerImageBuildConfig)"
             working="working">
        </div>

    </form>


</section>
