<span page-title>{{ 'Docker Images ' | translate }}</span>

<div data-extend-template="layouts/nutupane.html">

  <div data-block="messages">
    <div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>
  </div>

  <div data-block="header">
    {{ 'Docker Images ' | translate }}
  </div>

  <div data-block="actions">
    <!-- TODO: permission -->
    <button class="btn btn-default"
            ng-show="permitted('edit_products') || permitted('destroy_products')"
            ui-sref="docker-images.bulk-actions.update"
            ng-class="{disabled: table.rows.length === 0}">
      <i class="fa fa-group leading-icon"></i>
      {{ "Bulk Update" | translate }}
    </button>
    <!-- TODO: permission -->
    <button class="btn btn-primary" ui-sref="docker-images.new" ng-hide="denied('create_docker_images')">
      <i class="fa fa-plus"></i>
      {{ "New Docker Image" | translate }}
    </button>
  </div>

  <div data-block="search-filter">
    <div class="col-sm-3">
      <label class="checkbox-inline" title="{{ 'Only show Docker Images which are upateable' | translate }}">
        <input type="checkbox" ng-model="showUpdateable" ng-change="toggleUpdateable()"/>
        <span translate>Updateable</span>
      </label>
    </div>
  </div>

  <span data-block="no-rows-message" translate>
    You currently don't have any Docker Images, you can add Docker Images using the button on the right.
  </span>

</div>
